<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>VAT - Variant Annotation Tool</title>
        <meta name="description" content="Variant annotation tool cloud service">
        <meta name="author" content="Gerstein Lab">
        
        <!-- HTML5 shim for IE 6-8 support -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- Styles -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
            }
        </style>
        
        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
 
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container-fluid">
                    <a class="brand" href="index.php">VAT</a>
                    <ul class="nav">
                        <li><a href="index.php">Home</a></li>
                        <li><a href="vat_upload.php">Upload</a></li>
                        <li><a href="documentation.php">Documentation</a></li>
                        <li><a href="download.php">Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            
            <div class="sidebar">
                <div class="well">
	                <h2>External links</h2>
	                <ul>
	                    <li><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?clade=mammal&org=human&db=hg18&position=chr1:1970929-2107305" target="external">UCSC genome browser</a></li>
	                    <li><a href="http://may2009.archive.ensembl.org/Homo_sapiens/Gene/Summary?g=ENSG00000067606" target="external">Ensembl genome browser</a></li>
	                    <li><a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene=PRKCZ" target="external">Gene Cards</a></li>
	                </ul>
                </div>
            </div>
            
            <div class="content">
            <div class="page-header">
                <h1>vat.20080: gene summary for <font color=red>PRKCZ</font> [ENSG00000067606]</h1>
            </div>
                    <h3>Transcript summary based on gencode3b annotation set</h3>
                    <table class="bordered-table zebra-striped">
                        <thead>
                            <tr>
                                <th>Transcript name</th>
                                <th>Transcript ID</th>
                                <th>Chromosome</th>
                                <th>Strand</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Number of exons</th>
                                <th>Transcript length</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PRKCZ-001</td><td>ENST00000378567</td><td>chr1</td><td>+</td><td>1971929</td><td>2106305</td><td>18</td><td>1776</td>
                            </tr>
                            <tr>
								<td>PRKCZ-202</td><td>ENST00000400920</td><td>chr1</td><td>+</td><td>2065637</td><td>2106305</td><td>13</td><td>1227</td>
                            </tr>
                            <tr>
								<td>PRKCZ-203</td><td>ENST00000400921</td><td>chr1</td><td>+</td><td>2065637</td><td>2106305</td><td>13</td><td>1227</td>
                            </tr>
                            <tr>
                                <td>PRKCZ-204</td><td>ENST00000413195</td><td>chr1</td><td>+</td><td>2056006</td><td>2067364</td><td>4</td><td>276</td>
                            </tr>
                            <tr>
                                <td>PRKCZ-205</td><td>ENST00000418531</td><td>chr1</td><td>+</td><td>2065637</td><td>2106305</td><td>13</td><td>1227</td>
                            </tr>
                            <tr>
                                <td>PRKCZ-015</td><td>ENST00000419838</td><td>chr1</td><td>+</td><td>1995552</td><td>2067364</td><td>4</td><td>279</td>
                            </tr>
                            <tr>
                                <td>PRKCZ-201</td><td>ENST00000378563</td><td>chr1</td><td>+</td><td>1971953</td><td>1992656</td><td>5</td><td>369</td>
                            </tr>
					    </tbody>
                    </table>
            

                    <h2>Graphical representation of genetic variants</h2>
                    <center>
                    <p>
                        <img src="https://s3.amazonaws.com/vat-data/20080/vat.20080/ENSG00000067606.png">
                    </p>
                    <p>
                        <img src="https://s3.amazonaws.com/vat-data/20080/vat.20080/legend.png">
                    </p>
                    </center>

                    <h2>Detailed summary of variants</h2>
                    <table class="bordered-table zebra-striped">
						<thead>
						    <tr>
						        <th rowspan="2">Chr</th>
						        <th rowspan="2">Position</th>
						        <th rowspan="2">Ref. allele</th>
						        <th rowspan="2">Alt. allele</th>
						        <th rowspan="2">Identifier</th>
						        <th rowspan="2">Type</th>
						        <th rowspan="2">Fraction of transcripts affected</th>
						        <th rowspan="2">Transcripts</th>
						        <th rowspan="2">Transcript details</th>
						        <th colspan="3" style="border-bottom: 1px solid #d0d0d0;">Alternate allele frequencies</th>
						        <th rowspan=2>Genotypes</th>
						    </tr>
						    <tr>
						        <th style="border-left: 1px solid #d0d0d0;">CEU</th>
						        <th>CHBJPT</th>
                                <th>YRI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								<td>chr1</td>
								<td>1977853</td>
								<td>T</td>
								<td>C</td>
								<td><a href=http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=12184 target=external>rs12184</a></td>
								<td>synonymous</td>
								<td>2/7</td>
								<td>ENST00000378567<br>ENST00000378563</td>
								<td>1776_264_88_D->D<br>369_240_80_D->D</td>
								<td>0.258</td>
								<td>0.950</td>
								<td>0.915</td>
								<td><a href=http://128.36.220.24/cgi-bin/vat_cgi?mode=showGenotypes&dataSet=vat.20080&setId=20080&geneId=ENSG00000067606&index=0 target=genotypes>Link</a></td>
                            </tr>
                            <tr>
								<td>chr1</td>
								<td>1980874</td>
								<td>A</td>
								<td>G</td>
								<td><a href=http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=1878745 target=external>rs1878745</a></td>
								<td>synonymous</td>
								<td>2/7</td>
								<td>ENST00000378567<br>ENST00000378563</td>
								<td>1776_318_106_P->P<br>369_294_98_P->P</td>
								<td>0.142</td>
								<td>0.450</td>
								<td>0.085</td>
								<td><a href=genotype.html target=genotypes>Link</a></td>
                            </tr>
                            <tr>
								<td>chr1</td>
								<td>1992648</td>
								<td>G</td>
								<td>A</td>
								<td>.</td>
								<td>nonsynonymous</td>
								<td>1/7</td>
								<td>ENST00000378563</td>
								<td>369_361_121_G->S</td>
								<td>N/A</td>
								<td>0.067</td>
								<td>N/A</td>
								<td><a href=http://128.36.220.24/cgi-bin/vat_cgi?mode=showGenotypes&dataSet=vat.20080&setId=20080&geneId=ENSG00000067606&index=2 target=genotypes>Link</a></td>
                            </tr>
                            <tr>
								<td>chr1</td>
								<td>2090838</td>
								<td>C</td>
								<td>T</td>
								<td>.</td>
								<td>synonymous</td>
								<td>4/7</td>
								<td>ENST00000378567<br>ENST00000400920<br>ENST00000400921<br>ENST00000418531</td>
								<td>1776_996_332_Y->Y<br>1227_447_149_Y->Y<br>1227_447_149_Y->Y<br>1227_447_149_Y->Y</td>
								<td>0.008</td>
								<td>N/A</td>
								<td>N/A</td>
                                <td><a href=http://128.36.220.24/cgi-bin/vat_cgi?mode=showGenotypes&dataSet=vat.20080&setId=20080&geneId=ENSG00000067606&index=3 target=genotypes>Link</a></td>
                            </tr>
                            <tr>
								<td>chr1</td>
								<td>2093366</td>
								<td>C</td>
								<td>G</td>
								<td><a href=http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=2280272 target=external>rs2280272</a></td>
								<td>synonymous</td>
								<td>4/7</td>
								<td>ENST00000378567<br>ENST00000400920<br>ENST00000400921<br>ENST00000418531</td>
								<td>1776_1074_358_A->A<br>1227_525_175_A->A<br>1227_525_175_A->A<br>1227_525_175_A->A</td>
								<td>N/A</td>
								<td>0.058</td>
								<td>N/A</td>
                                <td><a href=http://128.36.220.24/cgi-bin/vat_cgi?mode=showGenotypes&dataSet=vat.20080&setId=20080&geneId=ENSG00000067606&index=4 target=genotypes>Link</a></td>
                            </tr>
                            <tr>
                                <td>chr1</td>
                                <td>2093638</td>
                                <td>C</td>
                                <td>T</td>
                                <td>.</td>
                                <td>synonymous</td>
                                <td>4/7</td>
                                <td>ENST00000378567<br>ENST00000400920<br>ENST00000400921<br>ENST00000418531</td>
                                <td>1776_1236_412_C->C<br>1227_687_229_C->C<br>1227_687_229_C->C<br>1227_687_229_C->C</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>0.025</td>
                                <td><a href=http://128.36.220.24/cgi-bin/vat_cgi?mode=showGenotypes&dataSet=vat.20080&setId=20080&geneId=ENSG00000067606&index=5 target=genotypes>Link</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <footer>
                <p>&copy; Gerstein Lab 2011</p>
            </footer>
        </div><!-- /container -->
    </body>
</html>
    
        

