<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>VAT - Variant Annotation Tool</title>
        <meta name="description" content="Variant annotation tool cloud service">
        <meta name="author" content="Gerstein Lab">
        
        <!-- HTML5 shim for IE 6-8 support -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- Styles -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
            }
        </style>
        
        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
 
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container-fluid">
                    <a class="brand" href="index.php">VAT</a>
                    <ul class="nav">
                        <li><a href="index.php">Home</a></li>
                        <li><a href="vat_upload.php">Upload</a></li>
                        <li><a href="documentation.php">Documentation</a></li>
                        <li><a href="download.php">Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            
            <div class="sidebar">
                <div class="well">
                    <h3>Variant summary</h3>
                    <table class="bordered-table">
                        <tr>
                            <td><strong>Chromosome</strong></td>
                            <td>chr1</td>
                        </tr>
                        <tr>
                            <td><strong>Position</strong></td>
                            <td>1977853</td>
                        </tr>
                        <tr>
                            <td><strong>Reference allele</strong></td>
                            <td>T</td>
                        </tr>
                        <tr>
                            <td><strong>Alternate allele</strong></td>
                            <td>C</td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="content">
                <div class="page-header">
                    <h1>vat.20080: <font color=red>PRKCZ</font> [ENSG00000067606] Genotype 1</h1>
                </div>
                
                <h2>Genotype information</h2>
                <table class="bordered-table">
                    <thead>
                        <tr>
                            <th>CEU</th>
                            <th>CHBJPT</th>
                            <th>YRI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>RefCount = 89<br>AltCount = 31</td>
                            <td>RefCount = 6<br>AltCount = 114</td>
                            <td>RefCount = 10<br>AltCount = 108</td>
                        </tr>
                        <tr>
                            <td>
                                NA06985: 0|0<br>NA06986: 0|1<br>NA06994: 0|0<br>NA07000: 1|0<br>NA07037: 0|0<br>NA07051: 0|0<br>NA07346: 1|0<br>NA07347: 1|1<br>NA07357: 0|0<br>NA10847: 0|1<br>NA10851: 0|1<br>NA11829: 0|0<br>NA11830: 0|1<br>NA11831: 0|1<br>NA11832: 0|1<br>NA11840: 0|0<br>NA11881: 0|0<br>NA11894: 0|0<br>NA11918: 1|1<br>NA11919: 0|1<br>NA11920: 0|0<br>NA11931: 1|0<br>NA11992: 0|1<br>NA11993: 0|0<br>NA11994: 0|0<br>NA11995: 0|0<br>NA12003: 0|0<br>NA12004: 0|0<br>NA12005: 0|1<br>NA12006: 0|0<br>NA12043: 0|0<br>NA12044: 0|0<br>NA12045: 0|0<br>NA12144: 0|0<br>NA12154: 0|0<br>NA12155: 1|0<br>NA12156: 0|0<br>NA12234: 0|1<br>NA12249: 0|1<br>NA12287: 0|0<br>NA12414: 1|0<br>NA12489: 0|0<br>NA12716: 0|1<br>NA12717: 0|0<br>NA12749: 1|1<br>NA12750: 0|0<br>NA12751: 0|0<br>NA12760: 1|0<br>NA12761: 1|1<br>NA12762: 0|1<br>NA12763: 0|0<br>NA12776: 1|1<br>NA12812: 0|1<br>NA12813: 0|0<br>NA12814: 0|0<br>NA12815: 0|0<br>NA12828: 0|1<br>NA12872: 0|0<br>NA12873: 0|0<br>NA12874: 0|0<br>
                            </td>
                            <td>
                                NA18526: 1|1<br>NA18532: 1|1<br>NA18537: 1|1<br>NA18542: 1|1<br>NA18545: 1|1<br>NA18547: 1|1<br>NA18550: 1|1<br>NA18552: 1|1<br>NA18555: 1|1<br>NA18558: 1|1<br>NA18561: 1|1<br>NA18562: 1|1<br>NA18563: 1|1<br>NA18564: 1|1<br>NA18566: 1|1<br>NA18570: 1|1<br>NA18571: 1|1<br>NA18572: 1|1<br>NA18573: 1|1<br>NA18576: 1|1<br>NA18577: 1|1<br>NA18579: 1|1<br>NA18582: 1|1<br>NA18592: 1|1<br>NA18593: 1|1<br>NA18603: 1|1<br>NA18605: 1|0<br>NA18608: 1|1<br>NA18609: 1|1<br>NA18638: 1|1<br>NA18940: 1|1<br>NA18942: 1|1<br>NA18943: 1|1<br>NA18944: 1|1<br>NA18945: 1|1<br>NA18947: 1|1<br>NA18948: 1|0<br>NA18949: 1|1<br>NA18951: 1|1<br>NA18952: 1|1<br>NA18953: 1|0<br>NA18956: 1|1<br>NA18959: 1|1<br>NA18960: 1|1<br>NA18961: 1|1<br>NA18964: 1|1<br>NA18965: 1|1<br>NA18967: 0|1<br>NA18968: 1|1<br>NA18969: 1|1<br>NA18970: 1|1<br>NA18971: 1|1<br>NA18972: 1|1<br>NA18973: 1|1<br>NA18974: 1|1<br>NA18975: 1|1<br>NA18976: 1|1<br>NA18980: 0|1<br>NA18981: 1|1<br>NA19005: 1|0<br>
                            </td>
                           <td>
                                NA18486: 1|1<br>NA18489: 1|1<br>NA18498: 1|1<br>NA18499: 1|1<br>NA18501: 1|1<br>NA18502: 1|0<br>NA18504: 0|1<br>NA18505: 1|0<br>NA18507: 1|1<br>NA18508: 1|1<br>NA18510: 1|1<br>NA18511: 0|1<br>NA18516: 1|1<br>NA18517: 1|1<br>NA18519: 1|0<br>NA18520: 1|1<br>NA18522: 1|1<br>NA18523: 1|1<br>NA18853: 1|1<br>NA18856: 1|1<br>NA18858: 0|1<br>NA18861: 1|1<br>NA18870: 1|1<br>NA18871: 1|1<br>NA18907: 1|1<br>NA18909: 0|1<br>NA18912: 1|1<br>NA18916: 1|1<br>NA19093: 1|1<br>NA19098: 1|1<br>NA19099: 1|1<br>NA19102: 1|1<br>NA19108: 1|1<br>NA19114: 1|1<br>NA19116: 1|1<br>NA19119: 1|1<br>NA19129: 1|1<br>NA19131: 1|1<br>NA19137: 1|1<br>NA19138: 1|1<br>NA19141: 1|1<br>NA19143: 1|1<br>NA19144: 1|1<br>NA19147: 1|1<br>NA19152: 1|1<br>NA19153: 1|1<br>NA19159: 1|1<br>NA19160: 0|1<br>NA19171: 1|1<br>NA19172: 1|1<br>NA19190: 1|1<br>NA19200: 1|1<br>NA19201: 1|1<br>NA19204: 0|1<br>NA19207: 1|1<br>NA19209: 1|1<br>NA19210: 1|1<br>NA19225: 1|1<br>NA19257: 0|1<br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <footer>
                <p>&copy; Gerstein Lab 2011</p>
            </footer>
        </div><!-- /container-fluid -->
    </body>
</html>