<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>VAT - Variant Annotation Tool</title>
        <meta name="description" content="Variant annotation tool cloud service">
        <meta name="author" content="Gerstein Lab">
        
        <!-- HTML5 shim for IE 6-8 support -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- Styles -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
            }
        </style>
        
        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
 
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="index.php">VAT</a>
                    <ul class="nav">
                        <li><a href="index.php">Home</a></li>
                        <li><a href="upload.php">Upload</a></li>
                        <li><a href="documentation.php">Documentation</a></li>
                        <li><a href="download.php">Download</a></li>
                    </ul>
                </div>
            </div>
        </div>
       
        <div class="container">
            <div class="page-header">
                <h1>Processed datasets</h1>
            </div>      
            <div class="row">
                <div class="span16">
                    <table class="bordered-table zebra-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>File name</th>
                                <th>Annotation file</th>
                                <th>Type</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>1000-Genomes SNPs Sample</td>
                                <td>Sample dataset for 1000-Genomes SNP</td>
                                <td>1000-Genomes-sv.vcf</td>
                                <td>gencode3b</td>
                                <td>SV</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>1000-Genomes SNPs Sample</td>
                                <td>Sample dataset for 1000-Genomes SNP</td>
                                <td>1000-Genomes-sv.vcf</td>
                                <td>gencode3b</td>
                                <td>SV</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>1000-Genomes SNPs Sample</td>
                                <td>Sample dataset for 1000-Genomes SNP</td>
                                <td>1000-Genomes-sv.vcf</td>
                                <td>gencode3b</td>
                                <td>SV</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>1000-Genomes SNPs Sample</td>
                                <td>Sample dataset for 1000-Genomes SNP</td>
                                <td>1000-Genomes-sv.vcf</td>
                                <td>gencode3b</td>
                                <td>SV</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>1000-Genomes SNPs Sample</td>
                                <td>Sample dataset for 1000-Genomes SNP</td>
                                <td>1000-Genomes-sv.vcf</td>
                                <td>gencode3b</td>
                                <td>SV</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>1000-Genomes SNPs Sample</td>
                                <td>Sample dataset for 1000-Genomes SNP</td>
                                <td>1000-Genomes-sv.vcf</td>
                                <td>gencode3b</td>
                                <td>SV</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>1000-Genomes SNPs Sample</td>
                                <td>Sample dataset for 1000-Genomes SNP</td>
                                <td>1000-Genomes-sv.vcf</td>
                                <td>gencode3b</td>
                                <td>SV</td>
                                <td><a href="#">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>